:root {
    --clr-paper: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: clip;
}

body {
    height: 100dvh;
    background-color: hsl(0 0% 5%);
    /* justify-items: center;
    align-content: center; */
}
.paper {
    height: 100dvh;
    display: grid;
}
.paper-fold:nth-child(1) {
    background-color: var(--clr-paper);
    transform-origin: 50% 100%;
    z-index: 1;
}
.paper-fold:nth-child(2) {
    background-color: var(--clr-paper);
}
.paper-fold:nth-child(3) {
    background-color: var(--clr-paper);
    transform-origin: 50% 0%;
}