@font-face {
    font-family: FleurDeLeah;
    src: url(fonts/FleurDeLeah.ttf);
}
@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript.ttf);
}
@font-face {
    font-family: AlexBrush;
    src: url(fonts/AlexBrush.ttf);
}
@font-face {
    font-family: PuppiesPlay;
    src: url(fonts/PuppiesPlay.ttf);
}
@font-face {
    font-family: Whisper;
    src: url(fonts/Whisper.ttf);
}
@font-face {
    font-family: Allura;
    src: url(fonts/Allura.ttf);
}
:root {
    --clr-paper: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Allura, sans-serif;
}
html {
    overflow: clip;
}

body {
    height: 100dvh;
    background-color: hsl(0 0% 5%);
    /* justify-items: center;
    align-content: center; */
}
.paper {
    height: 100dvh;
    width: 90dvw;
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    /* aspect-ratio: 9 / 19.5; */
}
.paper-fold:nth-child(1) {
    background-color: var(--clr-paper);
    transform-origin: 50% 100%;
    z-index: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    position: relative;
}
.paper-fold:nth-child(2) {
    background-color: var(--clr-paper);
}
.paper-fold:nth-child(3) {
    background-color: var(--clr-paper);
    transform-origin: 50% 0%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.paper-text {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    width: inherit;
    height: inherit;
    padding-inline-start: 1rem;
    padding-block: 1rem;
    font-size: 1.25rem;
    overflow: auto;
    scrollbar-width: none;
}
.paper-text > p {
    margin-bottom: 32px;
}

.cover {
    height: 100vh;
    width: 100vw;
    background-color: hsl(0 0% 5%);
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100000;
}

.decoration {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: 180deg;
    scale: .45;
}

.paper-glow {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    aspect-ratio: 1 / 1;
    width: 0%;
    background-image: radial-gradient(hsl(346 59% 57% / .5), transparent 60%);
    border-radius: 50%;
    z-index: -1;
}